@media (max-width: 480px){
    body{
        width: 100vw;
        overflow-x : hidden;
    }

    .flex_container{
        width: 400px;
    }
    .search_field{
        display: none;
    }
    .nav_elem{
        display: none;
    }
    .last_block{
        position: relative;
        display: flex;
        justify-content: end;
    }
    .cont_burger{
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    .inburger{
        z-index: 2;
        position: absolute;
        width: 200px;
        height: 400px;
        display: none;
        top: 30px;
        animation: 0.5s ease-in-out 0s alternate op;
    }

    @keyframes op {
        0% { opacity:0; }
        100% { opacity:1; }
    }
    .burger_menu{
        position: relative;
        top: 30px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;


    }
    .last_block:hover .inburger{
        display: block;
    }
    .buttons, .buttons2, .buttons3{
        height: 50px;
        background-color: #FFFDF6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttons2{
        border-radius: 25px 25px 0px 0px;
    }
    .buttons3{
        border-radius: 0px 0px 25px 25px;
    }


    .text_container{
        width:250px;
        margin-left: 40px;
        margin-top: 50px;

    }
    .center_container{
        align-items: center;
    }
    .banner_container{
        height: 250px;

    }
    .photo{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
    }
    .photo_elem{
        width: 145px;
        margin-left: 40px;
        height: 145px;
    }
    .text_elem_one, .text_elem_two, .text_elem_three, .text_elem_four, .text_elem_five ,.text_elem_six{
        font-size: 20px;
        margin-left: 0px;
    }

    .text_elem_six{
        display: none;
    }
    .service{
        width: 400px;
    }
    .row_one{
        font-size: 24px;
    }
    .filter_one, .filter_two, .filter_three, .filter_four{
        padding: 5px 15px 5px 15px;
        font-size: 11px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .row_three{
        flex-direction: column;
    }
    .LongBlock{
        margin-left: 0px;
        width: 400px;
    }
    .block_container{
        height: 297px;
    }
    .block_two{
        position: absolute;
    }
    .img_block{
        margin-top: 100px;
        margin-left: 50px;
        width: 280px;
        height: 150px;
    }



    .row_four{
        flex-direction: column;
    }
    .short_block {
        margin-left: 0px;
        width: 400px;
        height: 350px;
        justify-content: center;
        align-items: flex-start;
    }
    .block_container_short{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desc_block_short{
        height: 10px;
    }
    .img_cont_short{
        margin-top: 50px;
        align-items: flex-end;
        height: 200px;
    }

    .block_one_short{

        margin-top: 25px;
        margin-left: -65px;
    }
    .img_short{
        width: 200px;
        height: 200px;
    }
    .block_two_short{
        margin-top: -18px;
        margin-left: 87px;
    }




    .service_container{
        height: auto;
    }
    .actual_container{
        display: none;
    }
    .mob_none{
        display: none;
    }



    .news_block{
        width: 400px;
    }
    .header_cont{
        align-items: center;
    }
    .name_string{
        font-size: 24px;
    }
    .name_next{
        font-size: 16px;
    }
    .news{

        justify-content: space-between;
    }
    .news_col_one, .news_col_two{
        width: 170px;
    }
    .news_date{
        font-size: 12px;
    }
    .news_desc{
        font-size: 16px;
    }



    .footer{
        width: 400px;
    }
    .footer a{
        color: #FFFDF6;
    }
    .first_string{
        width: 400px;
        font-size: 12px;
        flex-wrap: wrap;
    }
    .second_string{
        width: 400px;
        font-size: 12px;
    }
    .six_elem{
        font-size: 20px;
    }
    .foot_elem_three{
        font-size: 12px;
    }
    .foot_elem_four{
        font-size: 12px;
    }
    .one_license a, .two_license a, .second_string_end a{
        color: #AEAEAE;
    }
}
