.LongBlock{
    margin-top: 40px;
    width: 760px;
    height: 295px;
    margin-right: 40px;
    border-radius: 15px;

}
.block_container{
    border: 1px solid #171B2A;
    display: flex;
    border-radius: 20px;
    background-color: rgba(255, 253, 228, 0.5);
    transition: 0.4s;
}
.block_container:hover{
    background-color: #fffde4;
}
.block_one{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
}
.name_block{
    font-size: 20px;
    margin-top: 25px;
    width: 280px;
}
.desc_block{
    font-size: 16px;
    margin-top: 10px;
    width: 280px;
}
.block_two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
height: 295px;
    overflow: hidden;
}
.btn_cont_long{
    position: absolute;
    bottom: 25px;
}